<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <!-- This version reports the client's IP, you need to enable the MDC filter, see web.xml  -->
            <!-- param name="ConversionPattern" value="%d %-5p [%X{req.remoteHost} %t] %C{2} (%F:%L) - %m%n"/ -->
            <param name="ConversionPattern" value="%d %-5p [%t] %C{2} (%F:%L) - %m%n"/>
        </layout>
    </appender>

    <appender name="file" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
            <param name="File" value="${catalina.base}/logs/${tomcat.hostname}/biosamples.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p [%X{req.remoteHost} %t] %C{2} (%F:%L) - %m%n"/>
        </layout>
    </appender>

		<logger name="uk.ac.ebi.fgpt">
      <level value="INFO"/>
    </logger>

	  <logger name="org.springframework">
      <level value="WARN"/>
    </logger>

    <root>
        <priority value="INFO" />
        <appender-ref ref="file" />
    </root>

</log4j:configuration>
